@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-image {
  width: 50%;
  animation: float 2s infinite ease-in-out;
}

.image-writing-example {
  width: 50%;
}
* {
  font-family: "Yanone Kaffeesatz", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.slides section p {
  margin: 2vw;
}

.slides section {
  font-size: 2.3em; /* Увеличение общего размера текста на слайдах */
}

.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #5eb7b7; /* Зеленый фон */
  color: white !important; /* Белый текст */
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%; /* Круглая форма */
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 300px;
  margin-top: 20px;
}

.button:hover {
  background-color: #45a049; /* Цвет при наведении */
}

.gift {
  display: none;
  position: fixed; /* Фиксированное положение */
  top: 50%; /* Располагаем контейнер по вертикали на середине */
  left: 50%; /* Располагаем контейнер по горизонтали на середине */
  transform: translate(-50%, -50%); /* Подгоняем контейнер точно по центру */
  width: 80%; /* Устанавливаем ширину контейнера, можно изменить */
  max-width: 600px; /* Ограничиваем максимальную ширину */
  height: 400px; /* Устанавливаем высоту контейнера, можно изменить */
  background-color: #f4f4f4; /* Цвет фона контейнера */
  border-radius: 10px; /* Скругление углов */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center;
}

.title {
  font-size: 1.5em !important;
  margin-bottom: 30px;
}

.desc {
  font-size: .7em !important;
  margin: 0 8vw !important;
}